<header>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img src="../assets/images/logo.png" alt="logo"/>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="main-navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
				</li>
				<li>
					<a routerLink="/klanten" routerLinkActive="active">
						Klanten
					</a>
				</li>
				<li>
					<a routerLink="/evenementen" routerLinkActive="active">Evenementen</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beheer<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a routerLink="/beheer/brigades" routerLinkActive="active">Brigades</a>
						</li>
						<li>
							<a routerLink="/beheer/documenten" routerLinkActive="active">Documenten</a>
						</li>
						<li>
							<a routerLink="/beheer/gebruikers" routerLinkActive="active">Gebruikers</a>
						</li>
						<li>
							<a routerLink="/beheer/prijslijst" routerLinkActive="active">Prijslijst</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="row">
			<breadcrumb></breadcrumb>
		</div>
	</nav>
</header>
<section id="content-wrapper">
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<span>&copy; {{date | date: "yyyy"}} Reddingsbrigade</span>
				<span class="pull-right">Developed by <a href="http://www.brunel.nl">Brunel</a></span>
			</div>
		</div>
	</div>
</footer>
