<div class="row" *ngIf="!isLoading">
<form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm)">
<!-- Header -->
<div class="col-xs-12">
	<messages></messages>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="pull-left">
				<div *ngIf="customer.id > 0;else new">
					<h1 class="pageTitle" *ngIf="viewMode==viewModeEnum.View">Klantgegevens Overzicht</h1>
					<h1 class="pageTitle" *ngIf="viewMode==viewModeEnum.Edit">Klantgegevens Wijzigen</h1>
				</div>
				<ng-template #new>
					<h1 class="pageTitle">Nieuwe klant toevoegen</h1>
				</ng-template>
			</div>
			<div class="pull-right">
				<button class="btn btn-primary" type="button" (click)="addNewEvent(customer)" disabled="disabled"> Evenement Toevoegen</button>
				<button class="btn btn-secondary" type="button" (click)="goToCustomers()">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Klanten overzicht
				</button>
				<button class="btn btn-primary" type="button" (click)="refresh()" *ngIf="viewMode==viewModeEnum.Edit || viewMode==viewModeEnum.New">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Annuleren
				</button>
				<button class="btn btn-primary" type="submit" id="btnSave" [disabled]="!customerForm.valid" *ngIf="viewMode==viewModeEnum.Edit || viewMode==viewModeEnum.New" (click)="refresh()">
					<span class="glyphicon glyphicon-floppy-disk"></span>
					Opslaan
				</button>
				<button class="btn btn-primary" type="button" (click)="goToEditMode()" *ngIf="viewMode==viewModeEnum.View">
					<span class="glyphicon glyphicon-pencil"></span>
					Bewerken
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Klantgegevens -->
<div class="col-xs-12 col-md-6">
	<div class="panel panel-default">
		<div class="panel-body ">
			<h2>Klant: {{customer.name}} </h2>

			<!-- Klantgegevens weergeven -->
			<div *ngIf="viewMode==viewModeEnum.View">
				<div class="row">
					<div class="col-xs-3">
						<label>Naam</label>
					</div>
					<div class="col-xs-9">{{customer.name}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Adres</label>
					</div>
					<div class="col-xs-9">
						{{customer.street}}
						{{customer.houseNumber}}
						{{customer.houseNumberAttatchment}}<br/>
						{{customer.zipCode}}
						{{customer.city}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>KvK Nummer</label>
					</div>
					<div class="col-xs-9">{{customer.coCNumber}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Email</label>
					</div>
					<div class="col-xs-9">{{customer.email}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Telefoon</label>
					</div>
					<div class="col-xs-9">{{customer.phoneNumber}}</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Active</label>
					</div>
					<div class="col-xs-9">
						<span *ngIf="customer.active==true" class="glyphicon glyphicon-ok"></span>
						<span *ngIf="customer.active==false"></span>
					</div>
				</div>
			</div>

			<!-- Klantgegevens aanpassen -->
			<div *ngIf="viewMode==viewModeEnum.Edit || viewMode==viewModeEnum.New">
				<div class="form-group">
					<label for="name">Naam</label>
					<input id="name" class="form-control" formControlName="name">
					<div *ngIf="formErrors.name" class="alert alert-danger">
						{{formErrors.name}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="form-group">
							<label for="street">Straat</label>
							<input id="street" class="form-control" formControlName="street">
							<div *ngIf="formErrors.street" class="alert alert-danger">
								{{ formErrors.street }}
							</div>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<label for="houseNumber">Huisnummer</label>
							<input id="houseNumber" class="form-control" formControlName="houseNumber">
							<div *ngIf="formErrors.houseNumber" class="alert alert-danger">
								{{ formErrors.houseNumber }}
							</div>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<label for="houseNumberAttachment">Toevoeging</label>
							<input id="houseNumberAttachment" class="form-control" formControlName="houseNumberAttachment">
							<div *ngIf="formErrors.houseNumberAttachment" class="alert alert-danger">
								{{ formErrors.houseNumberAttachment }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="zipCode">Postcode</label>
							<input id="zipCode" class="form-control" formControlName="zipCode">
							<div *ngIf="formErrors.zipCode" class="alert alert-danger">
								{{ formErrors.zipCode }}
							</div>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="form-group">
							<label for="city">Plaats</label>
							<input id="city" class="form-control" formControlName="city">
							<div *ngIf="formErrors.city" class="alert alert-danger">
								{{ formErrors.city }}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="coCNumber">KvK nummer</label>
					<input id="coCNumber" class="form-control" formControlName="coCNumber">
					<div *ngIf="formErrors.coCNumber" class="alert alert-danger">
						{{ formErrors.coCNumber }}
					</div>
				</div>
				<div class="form-group">
					<label for="phoneNumber">Telefoonnummer</label>
					<input id="phoneNumber" class="form-control" formControlName="phoneNumber">
					<div *ngIf="formErrors.phoneNumber" class="alert alert-danger">
						{{ formErrors.phoneNumber }}
					</div>
				</div>
				<div class="form-group">
					<label for="email">E-mailadres</label>
					<input id="email" class="form-control" formControlName="email">
					<div *ngIf="formErrors.email" class="alert alert-danger">
						{{ formErrors.email }}
					</div>
				</div>
				<div class="form-group">
					<label for="active">Actief</label>
					<input id="active" type="checkbox" formControlName="active" class="checkbox">
					<div *ngIf="formErrors.active" class="alert alert-danger">
						{{ formErrors.active }}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Factuurgegevens -->
<div class="col-xs-12 col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>Factuuradres</h2>

			<!-- Factuurgegevens weergeven -->
			<div *ngIf="viewMode == viewModeEnum.View">
				<div class="row">

					<div class="col-xs-12">
						<p>
							{{customer.invoiceStreet}}
							{{customer.invoiceHouseNumber}}
							{{customer.invoiceHouseNumberAttachment}}<br/>
							{{customer.invoiceZipCode}}
							{{customer.invoiceCity}}
						</p>
					</div>
				</div>

				<div>
					<h2>Contactpersoon</h2>
				</div>
				<div *ngIf="customer.customerContacts.length > 0">
					<div *ngFor="let contact of customer.customerContacts">
						<div class="row">
							<div class="col-xs-12">
								{{contact.name}} <br/>
								{{contact.email}} <br/>
								{{contact.phoneNumber}}
								<p> </p>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="customer.customerContacts.length < 1">
					<p>Er zijn nog geen contact gegevens.</p>
				</div>

			</div>

			<!-- Factuurgegevens aanpassen. -->
			<div *ngIf="viewMode==viewModeEnum.Edit || viewMode==viewModeEnum.New">
				<div class="row">
					<div class="col-xs-8">
						<div class="form-group">
							<label for="invoiceStreet">Straat</label>
							<input id="invoiceStreet" class="form-control" formControlName="invoiceStreet">
							<div *ngIf="formErrors.invoiceStreet" class="alert alert-danger">
								{{ formErrors.invoiceStreet }}
							</div>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<label for="invoiceHouseNumber">Huisnummer</label>
							<input id="invoiceHouseNumber" class="form-control" formControlName="invoiceHouseNumber">
							<div *ngIf="formErrors.invoiceHouseNumber" class="alert alert-danger">
								{{ formErrors.invoiceHouseNumber }}
							</div>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<label for="invoiceHouseNumberAttachment">Toevoeging</label>
							<input id="invoiceHouseNumberAttachment" class="form-control" formControlName="invoiceHouseNumberAttachment">
							<div *ngIf="formErrors.invoiceHouseNumberAttachment" class="alert alert-danger">
								{{ formErrors.invoiceHouseNumberAttachment }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="invoiceZipCode">Postcode</label>
							<input id="invoiceZipCode" class="form-control" formControlName="invoiceZipCode">
							<div *ngIf="formErrors.invoiceZipCode" class="alert alert-danger">
								{{ formErrors.invoiceZipCode }}
							</div>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="form-group">
							<label for="invoiceCity">Plaats</label>
							<input id="invoiceCity" class="form-control" formControlName="invoiceCity">
							<div *ngIf="formErrors.invoiceCity" class="alert alert-danger">
								{{ formErrors.invoiceCity }}
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Klant toevoegen -->
			<div *ngIf="viewMode == viewModeEnum.Edit || viewMode == viewModeEnum.New">
				<h2>Contactpersonen</h2>
				<div class="row">
					<div class="col-sm-3">
						<label>Naam</label>
					</div>
					<div class="col-sm-3">
						<label>Telefoonnummer</label>
					</div>
					<div class="col-sm-3">
						<label>Emailadres</label>
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="row" formArrayName="customerContacts" *ngFor="let contact of customerForm.controls.customerContacts.controls; let i = index;">
					<div [formGroupName]="i" class="col-xs-3">
						<input class="form-control" formControlName="name">
						<div *ngIf="formErrors.name" class="alert alert-danger">
							{{ formErrors.name }}
						</div>
					</div>
					<div [formGroupName]="i" class="col-xs-3">
						<input class="form-control" formControlName="phoneNumber">
						<div *ngIf="formErrors.phoneNumber" class="alert alert-danger">
							{{ formErrors.phoneNumber }}
						</div>
					</div>
					<div [formGroupName]="i" class="col-xs-3">
						<input class="form-control" formControlName="email">
						<div *ngIf="formErrors.email" class="alert alert-danger">
							{{ formErrors.email }}
						</div>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-primary btn-sm" (click)="removeContact(i)" *ngIf="viewMode==viewModeEnum.Edit || viewMode==viewModeEnum.New" onclick="return false;">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p> </p>
						<button class="btn btn-primary btn-lg" (click)="addContact()" *ngIf="viewMode==viewModeEnum.Edit || viewMode==viewModeEnum.New" onclick="return false;">
							<span class="glyphicon glyphicon-plus"></span>
							Toevoegen
						</button>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

<!-- Klant events list -->
<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>Evenementen van {{customer.name}}</h2>

			<div *ngIf="customerEvents.length > 0">
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th>Nr</th>
						<th>Naam</th>
						<th>Begindatum</th>
						<th>Dagen</th>
						<th>Aantal bezoekers</th>
						<th>Status</th>
					</tr>
					</thead>
					<tr class="clickable" *ngFor="let customerEvent of customerEvents" (click)="readItem(customerEvent)">
						<td>{{customerEvent.eventNumber}}</td>
						<td>{{customerEvent.name}}</td>
						<td>{{customerEvent.startDate | date:'dd/MM/yyyy'}}</td>
						<td>{{customerEvent.numberOfDays}}</td>
						<td>{{customerEvent.visitors}}</td>
						<td>{{customerEvent.status}}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="customerEvents.length < 1"> Er zijn geen evenementen.</div>
		</div>
	</div>
</div>
</form>
</div>
