.navbar-default {
  background: none;
  border: none;
  box-shadow: none;  
}
.btn {
  font-family: SourceSansProBold, sans-serif;
  font-size: 14px;
  background: none;
  box-shadow: none;
  text-shadow: none;
  //padding: 10px 15px;
  .glyphicon{
    font-size: 12px;
  }
}
.btn,
.form-control,
.panel,
.alert{
  border-radius: 0;
  margin:0 0 0 0;
}

.panel > .panel-heading{
  background: none;
  margin: 0;
  border-bottom: 1px solid #edeff0;
}
