ul.clean,
ol.clean{
  list-style: none;
  margin: 0;
  padding: 0;
}
.vertical-align-top {
  vertical-align: top;
}
ul.horizontal li {
  float: left;
}
.clickable:hover{
  cursor: pointer;
}
.display-block{
	display:block;
}


