@import "reset";
@import "standard";
@import "fonts";

body, html{
  height: 100%;
}
body {
  background-color: #edeff0;
  font-family: OpenSans;
}
a,
button,
input[type="submit"],
input[type="button"] {
  transition: all 0.2s;  
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

h1 {
  font-family: SourceSansProBold, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;

}
h2 {
  font-family: SourceSansProBold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
header {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #FF6919;

  .navbar-header {
	height: 59px;
  }
	
  #main-navbar-collapse {
	padding: 0;

	&.in,
	&.collapsing {      
	  box-shadow: none;
	  background-color: #fff;
	  border-bottom: 1px solid #FF6919;
	}

	ul {
	  margin: 0;

	  li.dropdown ul.dropdown-menu li a {
		line-height: 60px;
		height: 60px;
		padding: 0 40px;

		&.active {
		  background-image: none;
		  background-color: #FF6919;
		  color: #fff;
		}

		&:hover {
		  background-image: none;
		  background-color: #ccc;
		  color: #fff;
		}
	  }
	}
  }


  nav.navbar-default {
	z-index: 2;

	.navbar-brand {
	  padding: 5px 15px;
	  margin: 0 30px 0 0;
	}

	.navbar-brand img {
	  height: 45px;
	}

	ul.navbar-nav {
	  li {
		.dropdown-menu {
		  padding: 0;
		}

		&.dropdown.open > a,
		&.dropdown.open > a:hover {
		  background: none;
		  background-color: #fff;
		  color: #333;
		  box-shadow: none;
		  border: none;
		  height: 59px;
		}

		a {
		  font-family: SourceSansProBold, sans-serif;
		  font-size: 14px;
		  color: #333;
		  line-height: 60px;
		  height: 60px;
		  padding: 0 30px;

		  &.active {
			background-image: none;
			background-color: #FF6919;
			color: #fff;
		  }

		  &:hover {
			background-image: none;
			background-color: #ccc;
			color: #fff;
		  }
		}
	  }
	}
  }
}

#content-wrapper {
  min-height: calc(100% - 91px);

  #breadcrumb {
	margin: 0;

	ol.breadcrumb {
	  background-color: transparent;
	  margin: 0;

	  li {
		a {
		  color: #CCC;
		  font-family: SourceSansProBold, sans-serif;
		  text-decoration: none;
		  &:hover{
			color: #333;
		  }
		}
	  }
	}
  }
}

footer {
  border-top: 1px solid #FF6919;
  background-color: #fff;
  height: 30px;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  line-height: 30px;  
}

.alert {
  background-image: none;
}
.btn-primary {
	background-color: #FF6919;
	color: #fff;
	border-color: #FF6919 ActiveBorder;


	&:not(:disabled):hover {
		background-color: #fff;
		color: #FF6919;
		border: 1px solid #FF6919;
	}

	&:disabled {
		background-color: #ccc;
		color: #333;
		border: 1px solid #ccc;
	}
}
.btn-secondary {
  background-color: #ccc;
  color: #333;

  &:not(:disabled):hover {
	background-color: #fff;
	color: #ccc;
	border: 1px solid #ccc;
  }

  &:disabled {
	background-color: #ccc;
	color: #333;
	border: 1px solid #ccc;
  }
}

label {
  span.required {
	color: #FF6919;
  }
}
.control-wrapper {
  position: relative;
  display: inline-block;

  .form-error {
	white-space: nowrap;
	background-color: #FF6919;
	color: #fff;
	text-align: center;
	padding: 12px;
	position: absolute;
	z-index: 1;
	top: -6px;
	left: 102%;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	&::after {
	  content: "";
	  position: absolute;
	  top: 50%;
	  right: 100%;
	  margin-top: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: transparent #FF6919 transparent transparent;
	}
  }
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
form > table.input-table {
  width: 100%;

  > tbody > tr > td:first-child {
	width: 118px;
  }
  textarea {
	min-height: 200px;
  }
}

.panel-heading {  
  h1 {
	margin: 0;
	font-size: 22px;

  }
}

breadcrumb {
	font-size: 11px;
}

breadcrumb > div > div > div {
	padding: 0px!important;
}

breadcrumb > div > div > div > nav > ol {
	margin: 0px !important;
	background-color: #FFF !important;
}

breadcrumb > div > div > div > nav > ol > li > a {
	color: #BBB;
}

breadcrumb > div > div {
	margin-bottom: 20px!important;
}

.panel-default {
	margin-bottom:20px;
}

.pageTitle {
	margin: 0px 0 0 0;
	line-height: normal;
}

.expandLink {
	color: #333!important;
	cursor: pointer;
}
.editLink {
	color: #333 !important;
	cursor: pointer;
}
.newLink {
	color: #333 !important;
	cursor: pointer;
}

.list-group {
	border-radius: 0px;
	-webkit-box-shadow: 0;
	box-shadow: none!important;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	border: none!important;
}

.clt, .clt ul, .clt li {
	position: relative !important;
	line-height:30px;
}

.clt ul {
	list-style: none !important;
}

.clt li::before, .clt li::after {
	content: "" !important;
	position: absolute !important;
	left: -12px !important;
}

.clt li::before {
	border-top: 1px solid #FF6919 !important;
	top: 15px !important;
	width: 8px !important;
	height: 0 !important;
}

.clt li::after {
	border-left: 1px solid #FF6919 !important;
	height: 100% !important;
	width: 0px !important;
	top: 2px !important;
}

.clt ul > li:last-child::after {
	height: 13px !important;
}

.nav-tabs a {
	color: #333;
	background-color: #e8e8e8;

}
.nav-tabs {
	border-bottom: 0px solid rgba(0, 0, 0, 0.00);
}

.nav-stacked a {
	color: #000;
	font-family: SourceSansProBold, sans-serif;
	border: 1px solid rgba(255, 255, 255, 0.00); 
}
.nav-stacked li a:hover,
.nav-stacked li.active a:hover {
	background-color: #fff;
	color: #FF6919;
	border: 1px solid #FF6919;
}

.nav-stacked li.active a {
	background-color: #FF6919;
	color: #FFF;
}
.nav-stacked li a:focus {
	background-color: none;
}


[aria-expanded="false"] .menu_icon_open {
	display: none;
}

[aria-expanded="false"] .menu_icon_closed {
	display: inline-block;
	color: #FF6919;

}

[aria-expanded="true"] .menu_icon_open {
	display: inline-block;
	color: #ccc;

}

[aria-expanded="true"] .menu_icon_closed {
	display: none;
}
.btn-control{
	display: block;
	height: 34px;
}
.span-control{
	height: 34px;
	padding: 6px 0 0 0;
	display: block;
	
}
.brigade-not-active{
	color:#ccc;
}
.brigadeListLi{
	display:none;
}
