<div class="row" *ngIf="!isLoading">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>Reddingsbrigade</h1>
				<p><img src="../../assets/images/homepage.jpg" /></p>
<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet ex id lorem hendrerit auctor. Aenean non vehicula felis, at rutrum lorem. Suspendisse congue commodo nibh, a maximus justo imperdiet eu. Duis at neque nibh. Vivamus vel vestibulum tortor, at volutpat turpis. Donec pharetra tortor in odio varius mattis. Etiam consequat justo in aliquam vulputate. Pellentesque efficitur sit amet lorem quis dignissim. Pellentesque auctor nunc vitae eros maximus, vel interdum odio viverra. Integer sodales justo id aliquam tincidunt. Donec tincidunt lacus vulputate viverra luctus. In tempus ut ligula non semper. Cras dolor odio, tempor quis libero quis, ullamcorper tempor felis. Maecenas vehicula lobortis scelerisque.
				</p><p>
					Donec tincidunt interdum dictum. Fusce facilisis ex urna, sit amet fringilla urna rutrum sed. Morbi maximus dolor ac neque dictum, id sollicitudin lacus rhoncus. Sed vitae felis interdum, lobortis leo non, tempus ipsum. Donec vel nisi iaculis, accumsan metus in, sollicitudin nibh. Sed ante augue, lobortis eu augue vestibulum, facilisis congue eros. Suspendisse potenti. Proin sodales commodo ligula, sed facilisis ante euismod nec.
				</p><p>
					Integer placerat erat quis odio lacinia sagittis. Duis et imperdiet lorem. Donec iaculis magna sit amet tempus porttitor. Pellentesque cursus aliquam felis, eget placerat ligula eleifend a. Aenean erat dolor, dapibus nec lorem vel, rhoncus posuere urna. Nullam ac bibendum mauris. Vivamus porttitor nulla vel nisi condimentum, quis molestie mauris commodo.
				</p>
			</div>
		</div>
	</div>
</div>
